<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite" verbose="2" parallel="methods" thread-count="2">
 <listeners>
	 <listener class-name="testNG.annotations"></listener>
 </listeners>
 <test name="Test cases">
     <parameter name="Name" value="Lion"></parameter>
     <classes>
       <class name="testNG.parameterizationExample"></class>
       </classes>
 </test><!-- Test -->
</suite><!-- Test -->